html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}

@font-face {
font-family: "Fontin sans"; 
src: url("../fonts/Fontin_Sans_I_45b.otf") format("truetype"); 
font-style: italic; 
font-weight: normal; 
} 
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
p {}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
#wrapper {
	display:block;
	overflow:visible;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
	margin:0 auto;
	position:relative;
	width:1000px;
}
#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
}
#main {
	overflow:hidden;
	display:block;
	width:100%;
	position: relative;
	z-index: 0;
}
#header {
	width:100%;
	display:block;
	position:relative;
}

/*--------------------header-------------------------*/

.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
#header:before{
	content: '';
	display: block;
	width: 100%;
	height: 46px;
	background: url(../pic/Navbg-top.png);
	position: absolute;
}
#header{
	background: #fff url("../pic/bg_header.png") repeat-x;
    position: relative;
    z-index: 100;
    margin: 0;
	
}
#header .number_email_login{
	display: block;
	padding: 14px 0 13px 0;
}

#header .number_email_login .phone_email{
	float: left;
	padding-left: 10px;
}
#header .number_email_login .phone_email span a{
	color: #7f8585;
	font-family: verdana, sans-serif;
	font-size: 12px;
}

#header .number_email_login .phone_email span a:hover{
	color: #1cc1cb;
}

#header .number_email_login .phone_email .fa-phone{
	color: #7f8585;
	font-size: 12px;
	margin-right: 6px;
}
#header .number_email_login .phone_email .fa-envelope{
	color: #7f8585;
	font-size: 12px;
	margin: 0 5px 0 10px;
}
#header .number_email_login .login{
	float: right;
	margin-right: 10px;
}
#header .number_email_login .login span a{
	color: #7f8585;
	font-size: 12px;
	font-family: verdana, sans-serif;
}
#header .number_email_login .login span a:hover{
	color: #1cc1cb;
}

#header .number_email_login .login .fa-lock{
	color: #7f8585;
	font-size: 12px;
	margin-right: 9px;
}

#header .header_nav{
	display: block;
	background: #fff;
	border-radius: 4px;
	position: relative;

}
#header .header_nav .logo{
	float: left;
	padding: 23px 0 16px 25px;
}
#header .header_nav .logo a{
	display:block;
	background: url(../pic/logo.png) no-repeat;
	width: 162px;
	height: 44px;
	text-indent: -999999px;
	
}
#header .header_nav .background_line{
    height: 5px;
    width: 100%;
    background: url(../pic/background_line.png) repeat-x;
    float: left;
    margin-bottom: 14px;
	/* margin-top: 12px; */
}
#header .nav{
	float: right;
	/* padding-top: 12px; */
}
#header .nav ul{
	padding: 39px 0 0 0;
}
#header .nav ul li{ 
	position: relative;
    float: left;
    margin: 0 38px 0 0;
	/* height: 50px; */
}
#header .nav ul li a{
	display: block;
	font-family: 'TitilliumText22L', sans-serif;
	font-size: 14px;
	color: #7f8585;
	line-height: 16px;
}
#header .nav ul li a:hover{
	color: #5a5a5a;
	
}
#header .header_slider{
	border-radius: 3px;
	background: #fff;
	position: relative;
	top: -14px;
	z-index: 99;
	border-bottom: 1px solid #e5e5e5;
}
#header .header_slider:after{
	content: '';
    display: block;
    background: url(../pic/shadow_right.png) no-repeat;
    position: absolute;
    top: 85px;
    right: -14px;
    width: 15px;
    height: 252px;
}
#header .header_slider:before{
	content: '';
    display: block;
    background: url(../pic/shadow_left.png) no-repeat;
    position: absolute;
    top: 85px;
    left: -14px;
    width: 15px;
    height: 252px;
}
#header .header_slider img{
	padding: 9px 9px 4px 9px;
}
#header .header_slider img:nth-child(1){
    position: absolute;
    top: 239px;
    right: 1018px;
    padding: 0;
}
#header .header_slider img:nth-child(3){
    position: absolute;
    top: 239px;
    left: 1018px;
    padding: 0;
}
/*----------------------drop_menu---------------*/
#header .nav li:hover .drop_menu{
	display: flex;
}
#header .nav .drop_menu {
	position: absolute;
	width: 160px;
	z-index: 999;
	display: none;
	flex-direction: column;
	padding: 39px 0 0 0;


}
#header .nav .drop_menu li {
	height: 30px;
	background: #fff;
	border-top: 1px solid #f6f6f6;
	margin: 0;
}
#header .nav .drop_menu li:first-child{
	border-top: none;
}
#header .nav .drop_menu li:hover:after{
	display: none;
}
#header .nav .drop_menu li a {
	display: block;
    padding: 7px 0px 0 18px;
    color: #7f8585;
    font: 11px/16px verdana, sans-serif;
}
#header .nav .drop_menu a:hover {
	color: #1cc1cb;
}
#header .nav li:hover:after {
	content: '';
	display: block;
	background: #b0eeef;
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: -33px;
	z-index: 8000;
}

#header .header_slider .slider_nav i {
	font-size: 10px;
	line-height: 12px;
	color: #fff;
	margin: 0 2px 0 0;
	cursor: pointer;
}

#header .header_slider:before {
	content: '';
	display: block;
	width: 15px;
	height: 252px;
	position: absolute;
	bottom: 0;
	left: -15px;
	background: url(../pic/shad_left.png) no-repeat;
}

#header .header_slider .slider_nav {
    position: absolute;
    right: 38px;
    bottom: 16px;
}

#main {
}
#main .buy_now {
	padding: 17px 110px 0;
	position: relative;
}
#main .buy_now strong {
	float: left;
	margin: 0 0 22px 0;
	font-size: 28px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	color: #8a8a8a;
	line-height: 47px;
}
#main .buy_now .gray {
	color: #5a5a5a;
}
#main .buy_now .blue {
	color: #40cbcd;
}
#main .buy_now .button_buy {
	float: right;
	box-sizing: border-box;
	width: 170px;
	height: 47px;
	display: flex;
	justify-content:center;
	align-items:center;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
 	font-family: Arial, sans-serif;
 	font-weight: bold;
	background: #616e6e;
	background: -moz-linear-gradient(top, #616e6e 0%, #4e5858 100%);
	background: -webkit-linear-gradient(top, #616e6e 0%,#4e5858 100%);
	background: linear-gradient(to bottom, #616e6e 0%,#4e5858 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616e6e', endColorstr='#4e5858',GradientType=0 );
	border: 0;
	outline: none;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 0 0 22px 0;
	cursor: pointer;
}
#main .buy_now .button_buy:hover {
	color: #1cc1cb;
}
#main .button_buy i {
	margin: 0 0 0 15px;
	box-sizing: border-box;
	padding: 4px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	background: #495353;
	width: 24px;
	height: 24px;
	-webkit-box-shadow: 0 1px 0 0 #697272;
	box-shadow: 0 1px 1px 0 #697272;
}

#main .short_tour:before{
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../pic/border_bottom.png) repeat-x;
}
#main .short_tour {
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	display: flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	position: relative;
	background: #f9fdfd;
	background: -moz-linear-gradient(top, #f9fdfd 0%, #f3f8f8 100%);
	background: -webkit-linear-gradient(top, #f9fdfd 0%,#f3f8f8 100%);
	background: linear-gradient(to bottom, #f9fdfd 0%,#f3f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fdfd', endColorstr='#f3f8f8',GradientType=0 );
	margin: 0 0 37px 0;
}
#main .short_tour section {
	width: 31.91%;
	padding: 38px 0 40px;
}

#main .short_tour h3 {
	margin: 0 0 20px 0;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	color: #3a3a3a;
	position: relative;
}
#main .short_tour .num {
	float: left;
	background: #939b9b;
	-webkit-border-radius: 9px 9px 9px 9px;
	border-radius: 9px 9px 9px 9px;
	box-sizing: border-box;
	padding: 4px;
	line-height: 10px;
	font-size: 12px;
	color: #fff;
	width: 18px;
	height: 18px;
	margin: 0 15px 0 0;
	text-align: center;
	position: relative;
	bottom: -4px;
}
#main .short_tour p {
	display: block;
	color: #7c7c7c;
	font-size: 12px;
	margin: 0 0 5px 0;
	line-height: 20px;
	font-family: "Verdana", sans-serif;
}
#main .blocks {
	padding: 0 20px;
}
#main .posts {
	float: left;
	width: 49%;
	margin: 0 0 25px 0;
}
#main .about_us {
	float: right;
	width: 50%;
	margin: 0 0 25px 0;
}
#main .projects {
	float: left;
	width: 100%;
	margin: 0 0 42px 0;
}
#main .blocks h2 {
	border-bottom: 1px solid #ebebeb;
	position: relative;
	font-size: 22px;
  	font-family: 'Titillium Web', sans-serif;
  	color: #1cc1cb;
  	font-weight: 300;
  	padding: 0 0 10px 10px;
  	margin: 0 0 30px 0;
  	background: #fff;
}

#main .blocks h2:before {
    content: "";
	position: absolute;
    display: inline-block;
    border: 10px solid transparent;
    border-top-color: #ebebeb;
    bottom: -20px;
    left: 40px;
}
#main .blocks h2:after {
    content: "";
	position: absolute;
    display: inline-block;
    border: 9px solid transparent;
    border-top-color: #fff;
    bottom: -18px;
    left: 41px;
}
#main .blocks .content {
	padding: 0 10px;
}
#main .content .blog_comm {
	text-decoration: none;
	color: #a1a1a1;
	font: 10px/12px "Verdana", sans-serif;
	display: block;
	width: 60px;
	margin: 0 0 15px 0;
}
#main .content i {
	margin: 0 5px 0 0;
}
#main .content img {
	float: left;
	padding: 6px;
	border: 1px solid #e6e6e6;
	margin: 0 20px 10px 0;
}
#main .content .right {
	float: left;
	width: 46%;
}
#main .content h3 {
	font: 18px/20px 'Titillium Web', sans-serif;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	font-weight: 300;
	color: #5a5a5a;
	padding: 3px 0 0 0;
	margin: 0 0 10px 0;
}
#main .content .date_info {
	margin: 0 0 20px 0;
	font: 10px/12px "Verdana", sans-serif;
	color: #acb7bc;
}
.fa-calendar {
	width: 11px;
	height: 11px;
}
#main .content p {
	color: #7c7c7c;
	font: 12px/20px "Verdana", sans-serif;
	margin: 0 0 13px 0;
}
#main .content .read_more {
	text-decoration: none;
	color: #a1a1a1;
	font: 12px/16px "Verdana", sans-serif;
	display: inline-block;
	margin: 0 0 10px 0;
}
#main .content a:hover {
	color: #1cc1cb;
}
#main .plus {
	width: 16px;
	height: 16px;
	line-height: 15px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	margin: 0 7px 0 0;
	background: #f0f0f0;
	background-image: -moz-linear-gradient( 90deg, rgb(225,236,241) 0%, rgb(255,255,255) 47%);
	background-image: -webkit-linear-gradient( 90deg, rgb(225,236,241) 0%, rgb(255,255,255) 47%);
	background-image: -ms-linear-gradient( 90deg, rgb(225,236,241) 0%, rgb(255,255,255) 47%);
	box-shadow: 0px 1px 1px 0px rgba(2, 2, 2, 0.75);
}
#main .posts .content .fa-plus {
	font-size: 8px;
	margin: 0;
}
#main .blocks .about_us h2 {
	margin: 0 0 26px 0;
}
#main .blocks .about_us .content {
	padding: 0 10px;
}
#main .about_us .bold {
	color: #7c7c7c;
	font: bold 12px/20px "Verdana", sans-serif;
	margin: 0 0 18px 0;
	display: block;
}
#main .about_us p {
	color: #7c7c7c;
	font: 12px/20px "Verdana", sans-serif;
	margin: 0 0 26px 0;
}
#main .about_us .btn_read_more {
	float: left;
	padding: 0 16px;
	margin: 0 20px 10px 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #70cdf2;
	box-shadow: 0px 1px 0px 0px #56a4c4;
	background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.10196) 0%, rgba(0,0,0,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.10196) 0%, rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.10196) 0%, rgba(0,0,0,0) 100%);
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font: bold 13px/36px 'Titillium Web', sans-serif;
	text-shadow: 0px 1px 0px rgba(2, 2, 2, 0.13);
}
#main .about_us .btn_read_more i {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	float: none;
	padding: 9px 0 0 12px;
	display: inline-block;
    vertical-align: text-bottom;
}
#main .about_us a:hover {
	color: #f00;
}
#main .about_us .btn_follow {
	float: left;
	padding: 0 16px;
	margin: 0 0 10px 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #61dbe9;
	box-shadow: 0px 1px 0px 0px #49b1bd;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font: bold 13px/36px 'Titillium Web', sans-serif;
	text-shadow: 0px 1px 0px rgba(2, 2, 2, 0.13);
	background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.10196) 0%, rgba(0,0,0,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.10196) 0%, rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.10196) 0%, rgba(0,0,0,0) 100%);
}
#main .about_us .btn_follow i {
	padding: 0 0 0 12px;
	margin: 0;
	font-size: 16px;
	line-height: 18px;	
	display: inline-block;
    vertical-align: text-bottom;
}
#main .projects .portfolio_ico {
	text-decoration: none;
	color: #a1a1a1;
	font: 10px/12px "Verdana", sans-serif;
	float: left;
	margin: 0 0 15px 0;
}
#main .projects .pic {
	display: flex;
	width: 100%;
	justify-content:space-between;
	margin: 0;
	padding: 0;
}

#main .projects .pic li {
	list-style-type: none;
	width: 23.4%;
}
#main .projects .pic .holder img {
	display: block;
    float: none;
    padding: 0;
    margin: 0;
    border: none;
}
#main .projects .pic .holder {
	padding: 6px;
    border: 1px solid #e6e6e6;
    margin: 0 0 22px 0;
}
#main .projects .pic .holder:hover img{
	opacity: .3;
}
#main .projects .pic a.more {
	display: inline-block;
	text-decoration: none;
	color: #a1a1a1;
	font: 12px/14px "Verdana", sans-serif;
	margin: 0 0 10px 0;
}
#main .projects .pic a.more:hover {
	color: #1cc1cb;
}
#main .projects .pic a.more:hover i {
	color: #a1a1a1;
}
#main .projects .pic a.more i {
	margin: 0;
}
#main .projects .pic a.more .plus {
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: 10px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 0 10px 0 0;
	background: #f0f0f0;
	background-image: -moz-linear-gradient( 90deg, rgb(225,236,241) 0%, rgb(255,255,255) 47%);
	background-image: -webkit-linear-gradient( 90deg, rgb(225,236,241) 0%, rgb(255,255,255) 47%);
	background-image: -ms-linear-gradient( 90deg, rgb(225,236,241) 0%, rgb(255,255,255) 47%);
	box-shadow: 0px 1px 1px 0px rgba(2, 2, 2, 0.75);
}
#main .projects .pic .holder {
	position: relative;
}
#main .projects .pic .loop {
	display: none;
	width: 36px;
	height: 36px;
	position: absolute;
	font-size: 18px;
	line-height: 34px;
	text-align: center;
	color: #c2cbcf;
	border-radius:18px;
	background: #fff;
	box-shadow: 0 1px 0 1px #aebdc4;
	top: 0;bottom: 0;left: 0;right: 0;
	margin:auto;
	background-image: -moz-linear-gradient( 90deg, rgb(225,236,241) 0%, rgb(255,255,255) 47%);
	background-image: -webkit-linear-gradient( 90deg, rgb(225,236,241) 0%, rgb(255,255,255) 47%);
	background-image: -ms-linear-gradient( 90deg, rgb(225,236,241) 0%, rgb(255,255,255) 47%);
	box-shadow: 0px 1px 1px 0px rgba(2, 2, 2, 0.75);
}
#main .projects .holder:hover .loop {
	display: block;
}
#main .testimonials {
	position: relative;
	padding: 26px 0 0 0;
}
#main .testimonials blockquote {
	margin: 0;
	position: relative;
}
#main .testimonials:before {
	content: '';
	background: url(../pic/border_bottom.png) repeat-x;
	height: 5px;
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	top: 0;
}
#main .testimonials .quote {
	position: absolute;
	color: #e4e4e4;
	left: 30px;
	top: -15px;
	font-size: 15px;
}
#main .testimonials .text {
	margin: 0 0 23px 0;
	text-align: center;
	font:italic 18px/27px "FontinSans", sans-serif;
	color: #969696;
	position: relative;
}
#main .testimonials .author {
	// margin: 0 0 2px 0;
	text-align: center;
	font:16px/18px "FontinSans", sans-serif;
	color: #969696;
}
#main .testimonials .text span {
	color: #2bc5ce;
}
#main .testimonials .author span {
	font-weight: bold;
	color: #8b8b8b;
}

/*----------------------------footer------------------------------*/

#footer {
	background-image: url(../pic/background_footer.png);
	width: 100%;
}
#footer .columns {
	padding: 38px 30px 17px;
	display: flex;
	justify-content:space-between;
}

#footer .columns section {
	width: 23.4%;
}
#footer .columns section h2 {
	font: 22px/24px 'Titillium Web', sans-serif;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(2, 2, 2, 0.5);
	margin: 0 0 27px 0;
}

#footer .columns .social h2 {
	margin: 0 0 27px 0;
}
#footer .columns .social ul {
	margin: 0;
	padding: 0;
}
#footer .columns .social li {
	list-style-type: none;
}
#footer .columns .social li a {
	display: inline-block;
	font: 12px/14px "Verdana", sans-serif;
	color: rgb(203, 203, 203);
	text-shadow: 0px 1px 0px rgba(2, 2, 2, 0.3);
	text-decoration: none;
	margin: 0 0 9px 0;
}
#footer .columns .social li a:hover {
	color: #1cc1cb;
}
#footer .columns .social li i {
	display: inline-block;
	width: 22px;
	height: 22px;
	text-align: center;
	box-sizing: border-box;
	margin: 0 17px 0 0;
	border-radius: 50%;
	font-size: 12px;
	line-height: 22px;
	color: #3d4444;
	text-shadow: none;
	vertical-align: baseline;
}
#footer .icon-twitter-1 {
	background-image: -moz-linear-gradient( 90deg, rgb(32,214,235) 0%, rgb(111,245,253) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(32,214,235) 0%, rgb(111,245,253) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(32,214,235) 0%, rgb(111,245,253) 100%);
}
#footer .icon-facebook {
	background-image: -moz-linear-gradient( 90deg, rgb(66,150,237) 0%, rgb(98,167,244) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(66,150,237) 0%, rgb(98,167,244) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(66,150,237) 0%, rgb(98,167,244) 100%);
}
#footer .icon-flickr {
	background-image: -moz-linear-gradient( 90deg, rgb(231,75,138) 0%, rgb(242,107,177) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,75,138) 0%, rgb(242,107,177) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,75,138) 0%, rgb(242,107,177) 100%);
}
#footer .icon-vimeo {
	background-image: -moz-linear-gradient( 90deg, rgb(69,172,29) 0%, rgb(116,221,79) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(69,172,29) 0%, rgb(116,221,79) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(69,172,29) 0%, rgb(116,221,79) 100%);
}
#footer .icon-rss {
	background-image: -moz-linear-gradient( 90deg, rgb(220,127,52) 0%, rgb(254,177,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(220,127,52) 0%, rgb(254,177,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(220,127,52) 0%, rgb(254,177,67) 100%);
}
#footer .columns .tweets h2 {
	margin: 0 0 30px 0;
}
#footer .tweets p {
	font: 12px/20px "Verdana", sans-serif;
	color: rgb(203, 203, 203);
	text-shadow: 0px 1px 0px rgba(2, 2, 2, 0.3);
	margin: 0 0 13px 0;
}
#footer .tweets .blue {
	color: #54cdd1;
	text-shadow:none;
	text-decoration: none;
}
#footer .tweets a:hover {
	color: #1cc1cb;
}
#footer .tweets .h_ago {
	color: #6f787c;
	text-shadow:none;
	font-size: 10px;
}
#footer .columns .categories h2 {
	margin: 0 0 30px 0;
}
#footer .categories ul {
	padding: 0;
	margin: 0;
}
#footer .categories ul li {
	list-style-type: none;
	margin: 0 0 18px 0;
}
#footer .categories a {
	text-decoration: none;
	font: 12px/14px "Verdana", sans-serif;
	color: rgb(203, 203, 203);
	text-shadow: 0px 1px 0px rgba(2, 2, 2, 0.3);
}
#footer .categories a:hover {
	color: #1cc1cb;
}
#footer .categories li:before {
	content: '\003E';
	margin: 0 10px 0 0;
	font-size: 7px;
	color: rgb(203, 203, 203);
	position: relative;
	left: 0;
	bottom: 1px;
}
#footer .columns .t_widget h2 {
	margin: 0 0 31px 0;
}
#footer .t_widget p {
	font: 12px/20px "Verdana", sans-serif;
	color: rgb(203, 203, 203);
	text-shadow: 0px 1px 0px rgba(2, 2, 2, 0.3);
	margin: 0 0 13px 0;
}
#footer .copyright {
	padding: 5px 30px 14px;
}
#footer .copyright span {
  	font: 11px/13px "Verdana", sans-serif;
	color: #777f82;
	margin: 0 0 15px 0; 
}
#footer .top {
	border-bottom: 1px solid #272f2f;
}
#footer .bottom {
	border-top: 1px solid #484f50;
	position: relative;
}
#footer .bottom a {
	display: block;
	background: url(../pic/up.png) no-repeat;
	width: 52px;
	height: 45px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}